<div class="navbar-container"  style="margin-top: 20px;">
    <div class="primary_container ">
        <div class="navbar align_menu">
            <a class="link" href="{{ site.url }}/tags">Tags</a>
            <a class="link" href="{{ site.url }}/projects">Projects</a>
            <a class="link" href="{{ site.url }}/about">About</a>
            <!-- <li><a class="link" href="https://computationalmechanics.in/author/iitrabhi/" target="_blank">Lab</a></li> -->
            <a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></a>
        </div>
    </div>
</div>