<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>

<script src=”https://polyfill.io/v3/polyfill.min.js?features=es6 "></script>
<script id=”MathJax-script” async src=”https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>